$maxWidth: 1920;
@mixin adaptiveFont($pcSize, $mobSize) {
   $addSize: $pcSize - $mobSize;
   $addMobSize: $addSize + $addSize * 0.7;
   @media (max-width: 767px) {
      font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
   }
   @media (min-width: 767px) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
   }
}

%flexCenter{
   display: flex;
   align-items: center;
   justify-content: center;
}
%flexColumnCommon {
   display: flex;
   flex-direction: column;
}
%flexColumns{
   @extend %flexColumnCommon;
   align-items: flex-start;
   justify-content: flex-start;
}
%flexSpaceCenter {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
%flexColumnCenter {
   @extend %flexColumnCommon;   
   align-items: center;
}